<table class="table">
  <thead>
  <tr>
    <th>№</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Количесто книг</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let author of authors">
    <td>{{author.authorID}}</td>
    <td>{{author.authorName}}</td>
    <td>{{author.authorSurname}}</td>
    <td>{{author.quantBooks}}</td>
    <td><button class="btn btn-dark" [routerLink]="['/admin','author',author.authorID,'edit']">Открыть</button>
      <button class="btn btn-danger" (click)="deleteAuthor(author.authorID)">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>
