<div class="container">
  <h1 class="text-dark text-center">1984</h1>
  <small>Джордж Оруэлл</small>
  <p>
    Аннотация:
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad adipisci alias asperiores aut autem consectetur debitis dicta dignissimos dolore ducimus eligendi error, et illum incidunt laboriosam, laborum nam neque nesciunt odio perferendis quae quam quisquam quo, sit suscipit vel! Accusamus aspernatur, facilis fuga necessitatibus officiis placeat quis sit voluptatibus!
  </p>
  <p>
    Количество книг:
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad adipisci alias asperiores aut autem consectetur debitis dicta dignissimos dolore ducimus eligendi error, et illum incidunt laboriosam, laborum nam neque nesciunt odio perferendis quae quam quisquam quo, sit suscipit vel! Accusamus aspernatur, facilis fuga necessitatibus officiis placeat quis sit voluptatibus!
  </p>
  <button routerLink="/" class="btn btn-dark">На главную</button>
</div>
