<table class="table">
  <thead>
  <tr>
    <th>№</th>
    <th>Название</th>
    <th>Автор</th>
    <th>Год издания</th>
    <th>Количесто страниц</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <td>{{book.bookID}}</td>
    <td>{{book.bookName}}</td>
    <td>{{book.authorName}} {{book.authorSurname}}</td>
    <td>{{book.yearPublic}}</td>
    <td>{{book.numberPages}}</td>
    <td><button class="btn btn-dark" [routerLink]="['/admin','book',book.bookID,'edit']">Открыть</button>
      <button class="btn btn-danger" (click)="deleteBook(book.bookID)">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>

